$btncolor: #0091ea;
$fixwidth: 100%;
$font: lato;
$fcolor: #353b50;
$hrgbulancolor: #0091ea;
/*Body*/
.body {
	font-family: $font;
	color: $fcolor;
}
h1 {
	font-family: $font;
	color: $fcolor;
}
h2 {
	font-family: $font;
	color: $fcolor;
}
h3 {
	font-family: $font;
	color: $fcolor;
}
h4 {
	font-family: $font;
	color: $fcolor;
}
b {
	font-family: $font;
	color: $fcolor;
}
p {
	font-family: $font;
	color: $fcolor;
}
/*End Body*/
/*Logo*/
.logo {
	width:140px;
	padding-top: 20px;
	margin-left: 100px;
}
.logodetailroom {
	width:140px;
	padding-top: 20px;
	margin-left: 100px;
}
/*End Logo*/
/*Home & Contact*/
.home {
	padding: 20px;
	font-family: $font;
	color: $fcolor;
	font-weight: 500;
}
.contact{
	padding: 20px;
	font-family: $font;
	color: $fcolor;
	font-weight: 500;
}
/*End Home & Contact*/
/*Section atas*/
.bgataskiri {
max-width: $fixwidth;
max-height: 1113px;
}
.ui.button {
	background-color: $btncolor !important;
	color: white !important;
	min-width: 100px !important;
}
.ui.form {
	margin-right: 60px !important;
}
/*End Section atas*/
/*Hokyaah*/
#icon {
	color: #0091ea;
	text-align: right;
}
.content {
	font-size: 16px;
}
.ui.circular.segment {
	padding: 3px !important;
}
#extra {
	max-width: 100% !important;
}
/*End Hokyahh*/

/*Section Slider*/
	#sectionslide {
		height: 550px;
		padding-top: 100px;
		padding-bottom: 100px;
		background-repeat: no-repeat;
		background-size: 550px;
	}
	#bagianslide {
		min-height: 300px;
	}
	#imgslide {
		height: 132px !important;
	}
	.ui.card {
		padding-top: 5px;
		padding-bottom: 5px;
	}
	.hargaperbulan {
		color:$hrgbulancolor;
	}
	* {
      box-sizing: border-box;
    }

	.checked {
	  color: orange;
	}
    .slider {
        width: 100%;
        margin: 10px auto;
    }

    .slick-slide {
      margin: 0px 20px;
    }

    .slick-slide img {
      width: 100%;
    }

    .slick-prev:before {
    	color: black;
    }
    .slick-next:before {
      color: black;
    }


    .slick-slide {
      transition: all ease-in-out .3s;
      opacity: 1;
    }
    
    .slick-active {
      opacity: 1;
    }

    .slick-current {
      opacity: 1;
    }
    .overlay.fluid {
    	position: absolute;
    	bottom: 10%;
    	right: 0%;
    	background-color: white;
    	font-size: 9pt;
    }
    #loc {
    	font-size: 12pt !important;
    	margin-top: 5px;
    	text-align: left;
    }
/*End Slider*/
/*Kelebihan Kami*/
/*End Kelebihan Kami*/
/*Partner*/
#sectionpartner {
	padding-bottom: 100px;
	background-repeat: no-repeat;
	background-size: 100px;
	background-position: 18px 133px;
}
#partnerkanan {
}
#bgbawahkanan {
	width: 500px;
	height: 500px;
}
/*End Partner*/
/*Footer*/
#footer {
	height: 35px;
	background-image: linear-gradient(142deg, #3c9ce5, #42b8fc) !important;
	text-align: center;
	font-size: 12pt;
	color: white;
	vertical-align: center;
}
/*End Footer*/
@import "responsive";